body {
  background: #3A5360;
  font-family: 'font-regular';
  font-weight: normal;
}

#main {
  background: #fff;
  position: fixed;
}

@media (max-width: 449px) {
  #main {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@media (min-width: 450px) {
  #main {
    width: 350px;
    height: auto;
    border-radius: 5px;
    /* put element at center of page */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
