body {
  background: #3A5360;
  font-family: 'font-regular';
  font-weight: normal;
}

#main {
  background: #fff;
}

#main {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 400px) {
  #main {
    width: 350px;
  }
}
